@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";
@import "./base/base";
@import "./base/typography";
@import "./components/buttons";
@import "./layouts/header";
@import "./layouts/nav";
@import "./layouts/container";
@import "./layouts/form";
@import "./pages/work";
@import "./pages/about";
@import "./pages/project";
@import "./themes/img";

/*--body--*/

body {
    @include mobile {
        width: 100%;
    }
}

.logofood {
    margin-top: 20px;
    margin-bottom: 15px;
    width:50%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
/*-- header --*/

.header{
    text-align: center;
    background: $bg-color; 
    padding-bottom: 60px; 
    .recherche{
        padding: 15px 0 15px 0;
        margin-bottom: 40px;
        background: $color-search;
        box-shadow: inset 5px 15px 5px -15px grey;
        font-weight: 500;
        .fas{
            padding-right: 10px;
        }
    }
}

.txtrecherche
{
    margin: 0px 10px 0 10px;
    font-size: 1.05rem;
    font-weight: 300;
    h1{
        font-size: 1.5rem;
        margin: 0px 20px -5px 20px;
    }
}

.btn {
    box-shadow: $shadow-box;

    &-explore {
        display: inline-block;
        border-radius: 50px;
        padding: 0px 20px 0 20px;
        background: linear-gradient($secondary-color, $primary-color);
        color: white;
        margin-top: 10px;
        cursor: $cursor;
        text-align:center;
        @include mobile{
            text-align:center;
        }
    }

}