@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";
@import "./utils/animations";
@import "./base/base";
@import "./base/typography";
@import "./components/buttons";
@import "./themes/img";

/*--body--*/

body {
    @include mobile {
        width: 100%;
    }
}

header {
    text-align: center;

    @include desktop {
        position: relative;
    }

    .logofood {
        font-size: 32px;
        font-weight: 400;
        margin-block-start: 0.40em;
        margin-block-end: 0.10em;
    }

    .fas {
        position: absolute;
        left: 20px;
        top: 25px;
        color: black;
        font-size: 110%;

        @include desktop {
            left: 10px;
            top: 20px;
        }
    }
}

/*-- header --*/

.emplacement {
    text-align: center;
    background: $bg-color;
    padding-bottom: 60px;

    .recherche {
        position: relative;
        padding: 15px 0 15px 0;
        margin-bottom: 40px;
        background: $color-search;
        box-shadow: inset 5px 15px 5px -15px grey;
        font-weight: 500;

        .fas {
            position: absolute;
            padding-right: 10px;
            margin-left: -30px;
        }
    }
}

.txtrecherche {
    margin: 0px 8px 0 8px;
    font-size: 1.1rem;
    font-weight: 300;

    h2 {
        font-size: 1.5rem;
        margin: 0px 50px -5px 50px;
        font-weight: 700;
    }
}



/*-- fonctionnement --*/

.fonctionnement {
    margin: 28px 20px 40px 20px;

    /*margin-top: 28px;
    margin-bottom: 40px;
    margin-left: 20px;*/
    @include tablette {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        h2 {
            position: absolute;
        }
    }

    h2 {
        padding-bottom: 10px;
    }
}

.fonction {
    display: flex;
    background: $bg-color;
    margin-bottom: 25px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: $shadow-box;

    @include tablette {
        width: 250px;
        margin-top: 60px;
    }

    .fa-circle {
        position: absolute;
        font-size: 150%;
        margin-top: 15px;
        margin-left: -20px;
        color: $primary-color;
    }

    .number {
        color: white;
        margin-left: -13px;
        margin-top: 18px;
        z-index: 1;
        font-weight: 300;
    }

    .icone {
        color: $color-icone;
        margin-left: 25px;
        margin-top: 18px;
        font-size: 1.2rem;
    }

    p {
        margin-left: 20px;
        margin-top: 18px;
        font-weight: 600;
    }

    .fa-store {
        color: $primary-color;
    }

}

.colorer {
    background: $primary-lighten-color;
}

/*-- restaurant --*/

article {
    background-color: $bg-color;
    display: flex;
    flex-direction: column;
    padding-bottom: 45px;

    h2 {
        margin-top: 55px;
        margin-left: 20px;
    }

    a {
        text-decoration: none;
        color: black;
    }

    .fenetre_restaurant {
        position: relative;
        border-radius: 15px;
        background: white;
        margin: 0 20px 20px 20px;
        height: 250px;
        box-shadow: $shadow-box;

        img {
            border-radius: 15px 15px 0 0;
            object-fit: cover;
            object-position: 50% 60%;
            height: 175px;
            margin-bottom: -8px;
        }
    }

    .new {
        position: absolute;
        right: 20px;
        background: $terciaire-color;
        color: darken($terciaire-color, 40%);
        padding: 5px 10px 5px 10px;
        font-size: 0.9rem;
        font-weight: 500;
    }

    .fa-stack {
        position: absolute;
        cursor: pointer;
        right: 20px;
        bottom: 15px;
        font-size: 1.5rem;

        &:hover {
            animation: heart 0.3s ease-in 150ms;
            animation-fill-mode: forwards;
        }

        &:hover .fas {
            animation: heartcolor 0.3s ease-in-out;
            animation-fill-mode: forwards;
        }

        .fas {
            opacity: 0;

        }

    }

    p {
        margin-left: 10px;
        margin-bottom: -15px;
        font-size: 1.1rem;
        font-weight: 300;
    }

    .titre_restaurants {
        font-weight: 900;
        font-size: 1.2rem;
    }
}

/*-- footer --*/
footer {
    padding-left: 20px;
    padding-top: 20px;
    flex-direction: column;
    background: $footer-color;
    color: white;

    .logofood {
        font-size: 20px;
    }

    li {
        padding-bottom: 9px;
        margin-left: -35px;
    }

    ul {
        list-style-type: none;
    }

    a {
        text-decoration: none;
        color: white;
        font-weight: 300;
    }

    .fas {
        font-size: 0.8rem;
        width: 4%;
        margin-right: 10px;
    }
}

/* -- Carte restaurant --*/


.carte-restaurant {
    position: relative;

    footer {
        margin-top: -50px;
    }
}

.carte {
    width: 100%;
    position: relative;
    top: -50px;
    border-radius: 40px 40px 0 0;
    background: $bg-color;


    .menu {
        width: auto;
        top: 25px;
        margin-left: 10px;
        margin-right: 10px;


        .fa-heart,
        .fa-stack {
            top: 15px;
        }

        h2 {
            margin-left: 10px;
            width: auto;
        }
    }

    hr {
        border: 1px solid $terciaire-color;
        border-width: 2px;
        width: 40px;
        margin-left: 10px;
        margin-top: 15px;
    }

    .titrefiche {
        font-size: 28px;
        font-weight: 400;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

.sous-menu {
    margin-bottom: 35px;

    p {
        font-size: 16px;
        font-weight: 400;
        padding-bottom: 5px;
    }

    hr {
        margin-bottom: 15px;
    }
}

.plat {
    position: relative;
    background: #fff;
    margin: 12px 10px 14px 5px;
    cursor: pointer;
    padding: 10px 10px 10px 10px;
    width: auto;
    border-radius: 15px;
    box-shadow: $shadow-box;
    flex-wrap: nowrap;
    overflow: hidden;
    max-width: 100%;
    justify-content: space-between;

    .txt-plat {
        p {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

        }
    }

    .txt-plat {

        h3,
        p {
            margin: 5px 0 0px 0;
            max-width: 85%;

        }
    }

    .prx-plat p {
        position: absolute;
        right: 10px;
        bottom: 20px;
        font-weight: 700;
        transition: right 0.800s;
    }

    &:hover .prx-plat p {
        right: 70px;
    }

    &:hover .fa-check-circle {
        transform: rotate(360deg);
        /* transform-origin: right 50% center;*/

    }

    &:hover .anim-bg {
        transform-origin: right 100%;
        transform: scale(1, 1);

    }

    &:hover {
        h3 {
            max-width: 75%;

        }

        p {
            max-width: 65%;
        }
    }

    .anim-bg {
        position: absolute;
        background: $terciaire-color;
        padding: 25px 20px 30px 20px;
        top: 0;
        height: 100%;
        right: 0px;
        transform: translate(90px);
        transition: all 0.800s;
    }
}

.rotation {
    align-items: center;
    margin: 0 auto;
    height: 100%;
}

.fa-check-circle {
    font-size: 1.5rem;
    color: #fff;
    transition: transform 1s;

}

.anim1,
.anim2,
.anim3,
.anim4,
.anim5,
.anim6,
.anim7,
.anim8,
.anim9,
.anim10 {
    opacity: 0;
    animation: slide-up 0.8s linear;
    animation-fill-mode: forwards;

}

.anim1 {

    animation-delay: $animation-delay;
}

.anim2 {

    animation-delay: $animation-delay + 0.2s;
}

.anim3 {

    animation-delay: $animation-delay + 0.4s;
}

.anim4 {

    animation-delay: $animation-delay + 0.6s;
}

.anim5 {

    animation-delay: $animation-delay + 0.8s;
}

.anim6 {

    animation-delay: $animation-delay + 1s;
}

.anim7 {

    animation-delay: $animation-delay + 1.2s;
}

.anim8 {

    animation-delay: $animation-delay + 1.4s;
}

.anim9 {

    animation-delay: $animation-delay + 1.6s;
}

.anim10 {

    animation-delay: $animation-delay + 1.8s;
}

.load {
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    animation: load1 1.5s linear;

    @include tablette {
        left: 0;
    }
    p{
        position: absolute;
        top: 350px;
        width: 100%;
        text-align: center;
        z-index: 3;
        animation: load 1.5s linear;
        animation-fill-mode: forwards;
    }

    .bg-load {
        text-align: center;
        width: 100%;
        height: 100%;
        padding-top: 350px;
        padding-bottom: 100%;
        background: rgba(223, 222, 222, 0.9);

        @include tablette {
           padding-bottom: 0%;
        }

    }
}