@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@keyframes slide-up {
  from {
    transform: translatey(15px);
    opacity: 0;
  }
  to {
    transform: translatey(0px);
    opacity: 1;
  }
}
@keyframes load1 {
  from {
    visibility: initial;
  }
  to {
    visibility: initial;
  }
}
@keyframes load {
  from {
    transform: rotateX(55deg) translateZ(7.5vw);
    background: linear-gradient(to left, #9356dc, #FF79DA);
    -webkit-background-clip: text;
    color: transparent;
  }
  20% {
    background: linear-gradient(to left, #FF79DA, #99E2D0);
    -webkit-background-clip: text;
    color: transparent;
  }
  35% {
    background: linear-gradient(to left, #99E2D0, #FF79DA);
    -webkit-background-clip: text;
    color: transparent;
  }
  50% {
    background: linear-gradient(to left, #FF79DA, #9356dc);
    -webkit-background-clip: text;
    color: transparent;
    transform: rotateX(0deg) translateZ(7.5vw);
    transform-origin: bottom;
  }
  70% {
    background: linear-gradient(to left, #99E2D0, #FF79DA);
    -webkit-background-clip: text;
    color: transparent;
    transform: scale(1.6, 0.2);
  }
  to {
    background: linear-gradient(to left, #9356dc, #FF79DA);
    -webkit-background-clip: text;
    color: transparent;
  }
}
@keyframes heartcolor {
  from {
    opacity: 0.5;
    background: linear-gradient(to left, #9356dc, #FF79DA);
    -webkit-background-clip: text;
    color: transparent;
  }
  50% {
    opacity: 1;
    background: linear-gradient(to left, #9356dc, #FF79DA);
    -webkit-background-clip: text;
    color: transparent;
  }
  to {
    opacity: 1;
    background: linear-gradient(to left, #9356dc, #FF79DA);
    -webkit-background-clip: text;
    color: transparent;
  }
}
@keyframes heart {
  from {
    background: linear-gradient(to left, #9356dc, #FF79DA);
    -webkit-background-clip: text;
    color: transparent;
  }
  to {
    background: linear-gradient(to left, #9356dc, #FF79DA);
    -webkit-background-clip: text;
    color: transparent;
  }
}
body {
  font-family: "roboto", "sans-serif";
  display: flex;
  max-width: 900px;
  margin: auto;
  flex-direction: column;
}

h3 {
  font-weight: 800;
}

.logofood,
.titrefiche {
  font-family: Shrikhand, sans-serif;
}

.load {
  font-family: Shrikhand, sans-serif;
  font-weight: 800;
  font-size: 32px;
}

.btn-commander, .btn-explore {
  box-shadow: 0px 5px 10px lightgrey;
  display: inline-block;
  border-radius: 50px;
  padding: 0px 20px 0 20px;
  background: linear-gradient(#FF79DA, #9356dc);
  color: white;
  margin-top: 10px;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s;
}
.btn-commander:hover, .btn-explore:hover {
  opacity: 0.85;
  box-shadow: 0px 15px 15px lightgrey;
}
@media screen and (max-width: 767px) {
  .btn-commander, .btn-explore {
    text-align: center;
  }
}

.commande {
  text-align: center;
}
.commande .btn-commander p {
  margin: 16px 0 16px 0;
  padding: 0 20px 0 20px;
  font-weight: 400;
}

.fenetre_restaurant img {
  width: 100%;
}

.carte-restaurant img {
  max-width: 100%;
  max-height: 280px;
  width: 100%;
  object-fit: cover;
}

/*--body--*/
@media screen and (max-width: 767px) {
  body {
    width: 100%;
  }
}

header {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  header {
    position: relative;
  }
}
header .logofood {
  font-size: 32px;
  font-weight: 400;
  margin-block-start: 0.4em;
  margin-block-end: 0.1em;
}
header .fas {
  position: absolute;
  left: 20px;
  top: 25px;
  color: black;
  font-size: 110%;
}
@media screen and (min-width: 1200px) {
  header .fas {
    left: 10px;
    top: 20px;
  }
}

/*-- header --*/
.emplacement {
  text-align: center;
  background: #f6f6f6;
  padding-bottom: 60px;
}
.emplacement .recherche {
  position: relative;
  padding: 15px 0 15px 0;
  margin-bottom: 40px;
  background: #eaeaea;
  box-shadow: inset 5px 15px 5px -15px grey;
  font-weight: 500;
}
.emplacement .recherche .fas {
  position: absolute;
  padding-right: 10px;
  margin-left: -30px;
}

.txtrecherche {
  margin: 0px 8px 0 8px;
  font-size: 1.1rem;
  font-weight: 300;
}
.txtrecherche h2 {
  font-size: 1.5rem;
  margin: 0px 50px -5px 50px;
  font-weight: 700;
}

/*-- fonctionnement --*/
.fonctionnement {
  margin: 28px 20px 40px 20px;
  /*margin-top: 28px;
  margin-bottom: 40px;
  margin-left: 20px;*/
}
@media screen and (min-width: 1000px) {
  .fonctionnement {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .fonctionnement h2 {
    position: absolute;
  }
}
.fonctionnement h2 {
  padding-bottom: 10px;
}

.fonction {
  display: flex;
  background: #f6f6f6;
  margin-bottom: 25px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0px 5px 10px lightgrey;
}
@media screen and (min-width: 1000px) {
  .fonction {
    width: 250px;
    margin-top: 60px;
  }
}
.fonction .fa-circle {
  position: absolute;
  font-size: 150%;
  margin-top: 15px;
  margin-left: -20px;
  color: #9356dc;
}
.fonction .number {
  color: white;
  margin-left: -13px;
  margin-top: 18px;
  z-index: 1;
  font-weight: 300;
}
.fonction .icone {
  color: #7e7e7e;
  margin-left: 25px;
  margin-top: 18px;
  font-size: 1.2rem;
}
.fonction p {
  margin-left: 20px;
  margin-top: 18px;
  font-weight: 600;
}
.fonction .fa-store {
  color: #9356dc;
}

.colorer {
  background: #f4eefc;
}

/*-- restaurant --*/
article {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  padding-bottom: 45px;
}
article h2 {
  margin-top: 55px;
  margin-left: 20px;
}
article a {
  text-decoration: none;
  color: black;
}
article .fenetre_restaurant {
  position: relative;
  border-radius: 15px;
  background: white;
  margin: 0 20px 20px 20px;
  height: 250px;
  box-shadow: 0px 5px 10px lightgrey;
}
article .fenetre_restaurant img {
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  object-position: 50% 60%;
  height: 175px;
  margin-bottom: -8px;
}
article .new {
  position: absolute;
  right: 20px;
  background: #99E2D0;
  color: #278870;
  padding: 5px 10px 5px 10px;
  font-size: 0.9rem;
  font-weight: 500;
}
article .fa-stack {
  position: absolute;
  cursor: pointer;
  right: 20px;
  bottom: 15px;
  font-size: 1.5rem;
}
article .fa-stack:hover {
  animation: heart 0.3s ease-in 150ms;
  animation-fill-mode: forwards;
}
article .fa-stack:hover .fas {
  animation: heartcolor 0.3s ease-in-out;
  animation-fill-mode: forwards;
}
article .fa-stack .fas {
  opacity: 0;
}
article p {
  margin-left: 10px;
  margin-bottom: -15px;
  font-size: 1.1rem;
  font-weight: 300;
}
article .titre_restaurants {
  font-weight: 900;
  font-size: 1.2rem;
}

/*-- footer --*/
footer {
  padding-left: 20px;
  padding-top: 20px;
  flex-direction: column;
  background: #353535;
  color: white;
}
footer .logofood {
  font-size: 20px;
}
footer li {
  padding-bottom: 9px;
  margin-left: -35px;
}
footer ul {
  list-style-type: none;
}
footer a {
  text-decoration: none;
  color: white;
  font-weight: 300;
}
footer .fas {
  font-size: 0.8rem;
  width: 4%;
  margin-right: 10px;
}
@media screen and (min-width: 1000px) {
  footer .fas {
    margin-right: -10px;
  }
}

/* -- Carte restaurant --*/
.carte-restaurant {
  position: relative;
}
.carte-restaurant footer {
  margin-top: -50px;
}

.carte {
  width: 100%;
  position: relative;
  top: -50px;
  border-radius: 40px 40px 0 0;
  background: #f6f6f6;
}
.carte .menu {
  width: auto;
  top: 25px;
  margin-left: 10px;
  margin-right: 10px;
}
.carte .menu .fa-heart,
.carte .menu .fa-stack {
  top: 12px;
}
.carte .menu h2 {
  margin-left: 10px;
  width: auto;
}
.carte hr {
  border: 1px solid #99E2D0;
  border-width: 2px;
  width: 40px;
  margin-left: 10px;
  margin-top: 15px;
}
.carte .titrefiche {
  font-size: 25px;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 30px;
}

.sous-menu {
  margin-bottom: 35px;
}
.sous-menu p {
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 5px;
}
.sous-menu hr {
  margin-bottom: 15px;
}

/* --Plat par menu-- */
.plat {
  position: relative;
  background: #fff;
  margin: 12px 10px 14px 5px;
  cursor: pointer;
  padding: 10px 10px 10px 10px;
  width: auto;
  border-radius: 15px;
  box-shadow: 0px 5px 10px lightgrey;
  flex-wrap: nowrap;
  overflow: hidden;
  max-width: 100%;
  /*justify-content: space-between;*/
  /* --animation des plats-- */
}
.plat .txt-plat p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: max-width 0.8s;
}
.plat .txt-plat h3,
.plat .txt-plat p {
  margin: 5px 0 0px 0;
  max-width: 85%;
}
.plat .prx-plat p {
  position: absolute;
  right: 10px;
  bottom: 20px;
  font-weight: 700;
  transition: right 0.8s;
}
.plat:hover .prx-plat p {
  right: 70px;
}
.plat:hover .fa-check-circle {
  transform: rotate(360deg);
}
.plat:hover .anim-bg {
  transform-origin: right 100%;
  transform: scale(1, 1);
}
.plat:hover h3 {
  max-width: 75%;
}
.plat:hover p {
  max-width: 65%;
}
.plat .anim-bg {
  position: absolute;
  background: #99E2D0;
  padding: 0px 20px 30px 20px;
  top: 0;
  height: 100%;
  right: 0px;
  transform: translate(90px);
  transition: all 0.8s;
}

.rotation {
  height: 100%;
  display: grid;
}

.fa-check-circle {
  font-size: 1.5rem;
  color: #fff;
  transition: transform 0.8s;
  margin: auto;
}

.anim1,
.anim2,
.anim3,
.anim4,
.anim5,
.anim6,
.anim7,
.anim8,
.anim9,
.anim10 {
  opacity: 0;
  animation: slide-up 0.8s linear;
  animation-fill-mode: forwards;
}

.anim1 {
  animation-delay: 0.1s;
}

.anim2 {
  animation-delay: 0.3s;
}

.anim3 {
  animation-delay: 0.5s;
}

.anim4 {
  animation-delay: 0.7s;
}

.anim5 {
  animation-delay: 0.9s;
}

.anim6 {
  animation-delay: 1.1s;
}

.anim7 {
  animation-delay: 1.3s;
}

.anim8 {
  animation-delay: 1.5s;
}

.anim9 {
  animation-delay: 1.7s;
}

.anim10 {
  animation-delay: 1.9s;
}

.load {
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  animation: load1 1.8s linear;
}
@media screen and (min-width: 1000px) {
  .load {
    left: 0;
  }
}
.load p {
  position: absolute;
  top: 350px;
  width: 100%;
  text-align: center;
  z-index: 3;
  animation: load 1.5s linear;
  animation-fill-mode: forwards;
}
.load .bg-load {
  text-align: center;
  width: 100%;
  height: 100%;
  padding-top: 350px;
  padding-bottom: 570px;
  background: rgba(223, 222, 222, 0.9);
}
@media screen and (min-width: 1000px) {
  .load .bg-load {
    padding-bottom: 370px;
  }
}

/*# sourceMappingURL=style.css.map */
