$animation-delay: 0.1s;

@keyframes slide-up {
    
    from {
        transform: translatey(15px);
        opacity: 0;
    }

    /* 25%{
        top:12px;
        opacity: 0.1;
    }
    50%{
        top: 10px;
        opacity: 0.5;
    }
    78%{
        top:5px;
        opacity:0.8;
    }*/
    to {
        transform: translatey(0px);
        opacity: 1;
    }
}

@keyframes load {
    from {
        visibility: initial;
        background: linear-gradient(to left, $primary-color, $secondary-color);
        -webkit-background-clip: text;
        color:transparent;
        }
        20%
        
        {
        background: linear-gradient(to left, $secondary-color, $terciaire-color);
        -webkit-background-clip: text;
        color:transparent;

        }

        50%
        
        {
        background: linear-gradient(to left, $terciaire-color, $secondary-color);
        -webkit-background-clip: text;
        color:transparent;

        }
        70%
        
        {
        background: linear-gradient(to left, $secondary-color, $primary-color);
        -webkit-background-clip: text;
        color:transparent;

        }

    to {
        background: linear-gradient(to left, $primary-color, $secondary-color);
        -webkit-background-clip: text;
        color:transparent;
        
        
    }
}