$animation-delay: 0.1s;

@keyframes slide-up {

    from {
        transform: translatey(15px);
        opacity: 0;
    }

    to {
        transform: translatey(0px);
        opacity: 1;
    }
}

@keyframes load1 {
    from {
        visibility: initial;
    }

    to {
        visibility: initial;
    }
}

@keyframes load {
    from {

        transform: rotateX(190deg) translateZ(7.5vw);
        background: linear-gradient(to left, $primary-color, $secondary-color);
        -webkit-background-clip: text;
        color: transparent;

    }

    20% {
        background: linear-gradient(to left, $secondary-color, $terciaire-color);
        -webkit-background-clip: text;
        color: transparent;
    }

    35% {
        background: linear-gradient(to left, $terciaire-color, $secondary-color);
        -webkit-background-clip: text;
        color: transparent;

    }

    50% {
        background: linear-gradient(to left, $secondary-color, $primary-color);
        -webkit-background-clip: text;
        color: transparent;
        transform: rotateX(0deg) translateZ(7.5vw);
        transform-origin: bottom;

    }

    70% {
        background: linear-gradient(to left, $terciaire-color, $secondary-color);
        -webkit-background-clip: text;
        color: transparent;
        transform: scale(1.6, 0.2);
    }

    to {
        background: linear-gradient(to left, $primary-color, $secondary-color);
        -webkit-background-clip: text;
        color: transparent;

    }
}

@keyframes heartcolor {
    from {
        opacity: 0.5;
        background: linear-gradient(to left, $primary-color, $secondary-color);
        -webkit-background-clip: text;
        color: transparent;
    }

    50% {
        opacity: 1;
        background: linear-gradient(to left, $primary-color, $secondary-color);
        -webkit-background-clip: text;
        color: transparent;
    }

    to {
        opacity: 1;
        background: linear-gradient(to left, $primary-color, $secondary-color);
        -webkit-background-clip: text;
        color: transparent;
    }
}

@keyframes heart {
    from {
        background: linear-gradient(to left, $primary-color, $secondary-color);
        -webkit-background-clip: text;
        color: transparent;
    }

    to {
        background: linear-gradient(to left, $primary-color, $secondary-color);
        -webkit-background-clip: text;
        color: transparent;
    }
}