$primary-color: #9356dc;
$secondary-color: #FF79DA;
$terciaire-color: #99E2D0;
$bg-color: #f6f6f6;
$color-search: #eaeaea;
$footer-color: #353535;
$color-icone: #7e7e7e;
$primary-lighten-color: lighten($primary-color, 36%);
$linear : $secondary-color, $primary-color;

